---
const socialLinks = [
    { href: "https://www.linkedin.com/company/facelad/", title: "LinkedIn", icon: "linkedin" },
    { href: "https://twitter.com/facelad", title: "Twitter", icon: "twitter" },
    { href: "https://github.com/facelad", title: "GitHub", icon: "github" },
];
---

<ul class="social-links">
    {
        socialLinks.map((link) => (
            <li>
                <a href={link.href} target="_blank" rel="noopener noreferrer" aria-label={link.title}>
                    <i class={`fab fa-${link.icon}`} />
                </a>
            </li>
        ))
    }
</ul>

<style>
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        list-style: none;
        margin-top: 2rem;
    }
    .social-links li {
        display: flex;
    }
    .social-links a {
        color: var(--facelad-primary);
        font-size: 1.5rem;
        transition: color 0.3s ease;
    }
    .social-links a:hover {
        color: var(--facelad-secondary);
    }
</style>
